<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form method="post">
      {% csrf_token %}
      <table>  
        <tr>
          <td>Username</td>
          <td><input type="text" name="username" required placeholder="Enter Name"
            oninvalid="this.setCustomValidity('Enter User Name Here')"
            oninput="this.setCustomValidity('')" /></td>
        </tr>
          <td>Password</td>
          <td><input type="password" name="pass"></td>
        </tr>
        <tr>
            <td><button type="submit" class="btn" name="log_user">Login</button></td>
        </tr>
      </table>    
    </form>
    <p>Don't have Account? <a href="register">Sign up</a> </p>
    {% if messages %}
      {% for msg in messages %}
        <h3>{{msg}}</h3>
      {% endfor %}
    {% endif %}
</body>
</html>